<?xml version="1.0"?> 
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup></sectionGroup></sectionGroup></configSections><appSettings/>
	<connectionStrings>
		<!--MES Production Server-->
		<!--<add name="MESYMG" connectionString="Data Source=192.168.7.112;Initial Catalog=MESDB;Integrated Security=false;User ID=mesreader;Password=Re@d3r" providerName="System.Data.SqlClient"/>-->
		<add name="MESYMG" connectionString="Data Source=192.168.7.112;Initial Catalog=MESDB;Integrated Security=false;User ID=mesreader;Password=Re@d3r" providerName="System.Data.SqlClient"/>
		<add name="MESEGV" connectionString="Data Source=192.168.152.4;Initial Catalog=MESDB;Integrated Security=false;User ID=mesdev;Password=devME$" providerName="System.Data.SqlClient"/>
		<add name="MESEAV" connectionString="Data Source=192.168.152.4;Initial Catalog=MESEAVDB;Integrated Security=false;User ID=mesdev;Password=devME$" providerName="System.Data.SqlClient"/>
		<add name="MESEHV" connectionString="Data Source=192.168.155.16;Initial Catalog=MESEHVDB;Integrated Security=false;User ID=mesuser;Password=mesehv123" providerName="System.Data.SqlClient"/>
		<add name="MESNBO" connectionString="Data Source=192.168.16.210;Initial Catalog=MESDB;Integrated Security=false;User ID=mesuser;Password=mE$162" providerName="System.Data.SqlClient"/>
		<add name="MESPTX" connectionString="Data Source=192.168.5.21;Initial Catalog=MESDB;Integrated Security=false;User ID=mesreader;Password=Re@d3r" providerName="System.Data.SqlClient"/>
		<add name="MESTIL" connectionString="Data Source=192.168.193.9;Initial Catalog=MESDB;Integrated Security=false;User ID=mesuser;Password=me$1939" providerName="System.Data.SqlClient"/>
		<add name="MESGEG" connectionString="Data Source=192.168.7.123;Initial Catalog=MESDB;Integrated Security=false;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESGLG" connectionString="Data Source=192.168.99.37;Initial Catalog=MESDB;Integrated Security=false;User ID=mesreader;Password=Re@d3r" providerName="System.Data.SqlClient"/>
		<add name="MESEGM" connectionString="Data Source=192.168.4.38;Initial Catalog=MESDB;Integrated Security=false;User ID=mesuser;Password=me$4S8" providerName="System.Data.SqlClient"/>
		<add name="MESCEG" connectionString="Data Source=CEGNT6;Initial Catalog=MESDB;Integrated Security=false;User ID=mesreader;Password=mesreader" providerName="System.Data.SqlClient"/>
		<add name="MESCEK" connectionString="Data Source=CEGNT6;Initial Catalog=MESDB;Integrated Security=false;User ID=mesreader;Password=mesreader" providerName="System.Data.SqlClient"/>
		<!--Modified by LimML on 20150722 change IP address from 192.168.7.209 to 192.168.27.64 and from 192.168.7.142 to 192.168.27.65-->
		<add name="MESDEV" connectionString="Data Source=192.168.27.64;Initial Catalog=MESDEV;Persist Security Info=True;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESGLG_UPDATE" connectionString="Data Source=192.168.99.37;Initial Catalog=MESDB;Integrated Security=false;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESDEV_UPDATE" connectionString="Data Source=192.168.27.64;Initial Catalog=MESDEV;Integrated Security=false;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESGEG_UPDATE" connectionString="Data Source=192.168.7.123;Initial Catalog=MESDB;Integrated Security=false;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESYMG_UPDATE" connectionString="Data Source=192.168.7.112;Initial Catalog=MESDB;Integrated Security=false;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESCEG_UPDATE" connectionString="Data Source=CEGNT6;Initial Catalog=MESDB;Integrated Security=false;User ID=mesuser;Password=mesuser" providerName="System.Data.SqlClient"/>
		<!--Other Production Server-->
		<!--eASN Server Connection-->
		<!--Modified by MF on 20160205 change IP address from 192.168.9.18 to 192.168.7.140-->
		<add name="EASNYMG" connectionString="Data Source=192.168.7.140;Initial Catalog=easn;Persist Security Info=True;User ID=sales;Password=eel" providerName="System.Data.SqlClient"/>
		<add name="EASNGEG" connectionString="Data Source=192.168.7.112;Initial Catalog=easn;Persist Security Info=True;User ID=escmuser;Password=escmscan" providerName="System.Data.SqlClient"/>
		<add name="EASNEGM" connectionString="Data Source=192.168.4.38;Initial Catalog=easn;Persist Security Info=True;User ID=escmuser;Password=escmscan" providerName="System.Data.SqlClient"/>
		<add name="EASNGLG" connectionString="Data Source=192.168.99.37;Initial Catalog=EASN_GLG;Persist Security Info=True;User ID=escmuser;Password=escmscan" providerName="System.Data.SqlClient"/>
		<add name="EASNNBO" connectionString="Data Source=192.168.16.12;Initial Catalog=EASN;Persist Security Info=True;User ID=escmuser;Password=escmscan" providerName="System.Data.SqlClient"/>
		<add name="EASNPTX" connectionString="Data Source=192.168.5.16;Initial Catalog=EASN;Persist Security Info=True;User ID=sales;Password=eel" providerName="System.Data.SqlClient"/>
		<add name="EASNTIL" connectionString="Data Source=192.168.193.2;Initial Catalog=EASN;Persist Security Info=True;User ID=escmuser;Password=escmscan" providerName="System.Data.SqlClient"/>
		<add name="EASNEGV" connectionString="Data Source=192.168.152.4;Initial Catalog=EASN;Persist Security Info=True;User ID=escmuser;Password=escmscan" providerName="System.Data.SqlClient"/>
		<add name="EASNEHV" connectionString="Data Source=192.168.155.16;Initial Catalog=EASN;Persist Security Info=True;User ID=escmuser;Password=escmscan" providerName="System.Data.SqlClient"/>
		<add name="EASNEAV" connectionString="Data Source=192.168.152.29;Initial Catalog=EASN;Persist Security Info=True;User ID=escmuser;Password=escmscan" providerName="System.Data.SqlClient"/>
		<add name="EASNCEG" connectionString="Data Source=192.168.20.4;Initial Catalog=EASN_CEG;Persist Security Info=True;User ID=escmuser;Password=escmscan" providerName="System.Data.SqlClient"/>
		<add name="EASNCEK" connectionString="Data Source=192.168.20.4;Initial Catalog=EASN_CEK;Persist Security Info=True;User ID=escmuser;Password=escmscan" providerName="System.Data.SqlClient"/>
		<!--End of eASN Server Connection-->
		<!--FGIS Server Connection-->
		<add name="inv_support" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.7.222)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<add name="inv_support_EGM" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.44)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<add name="inv_support_GLG" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.99.222)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=INV_SUPPORT;Password=GLGINV3UPP;" providerName="System.Data.OracleClient"/>
		<add name="inv_support_NBO" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.16.3)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<!--<add name="inv_support_PTX" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.5.3)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>-->
    <add name="inv_support_PTX" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.5.3)(PORT=1521)))(CONNECT_DATA=(SID = fpps)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
    <add name="inv_support_TIL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.193.3)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=SCM2)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<add name="inv_support_EGV" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.152.8)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=SCM2)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<add name="inv_support_EHV" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.155.18)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=SCM2)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<add name="inv_support_CEG" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.20.11)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<!--End of FGIS Server Connection-->
		<add name="MESYMG_WIP" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.7.222)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=WIPREADER;Password=UWN861;" providerName="System.Data.OracleClient"/>
		<add name="MESGEG_WIP" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.7.222)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=WIPREADER;Password=UWN861;" providerName="System.Data.OracleClient"/>
		<add name="MESGEG_EEL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.7.106)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=scm2)));User Id=escmreader;Password=imtkotw;" providerName="System.Data.OracleClient"/>
		<add name="MESEGM_EEL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.44)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=escmreader;Password=escmreader;" providerName="System.Data.OracleClient"/>
		<add name="MESEGV_EEL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.152.8)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=scm2)));User Id=escmreader;Password=escmreader;" providerName="System.Data.OracleClient"/>
		<add name="MESEHV_EEL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.155.18)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=scm2)));User Id=escmreader;Password=escmreader;" providerName="System.Data.OracleClient"/>
		<add name="MESTIL_EEL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.193.3)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=scm2)));User Id=escmreader;Password=escmreader;" providerName="System.Data.OracleClient"/>
		<add name="MESPTX_EEL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.5.3)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=FPPS)));User Id=escmreader;Password=escmreader;" providerName="System.Data.OracleClient"/>
		<add name="MESGLG_EEL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.99.222)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=escmreader;Password=reader;" providerName="System.Data.OracleClient"/>
		<add name="MESNBO_EEL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.16.3)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=escmreader;Password=reader;" providerName="System.Data.OracleClient"/>
		<add name="MESCEG_EEL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.20.11)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=escmreader;Password=reader;" providerName="System.Data.OracleClient"/>
<!--Modified by xuzm on 20161028, -->
    <add name="HL_EEL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.7.106)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=scm2)));User Id=escmreader;Password=imtkotw;" providerName="System.Data.OracleClient"/>

		<!--Modified by LimML on 20150709, change the IP from 10.253.1.47 to 192.168.7.218-->
		<add name="MESGEG_GIS" connectionString="Server=192.168.7.218;Port=3306;DataBase=INVOICE;User Id=gisreader;Password=gI$0819;" providerName="MySql.Data.MySqlClient"/>
		<add name="INV7.222" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.7.222)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=escmreader;Password=escmreader;" providerName="System.Data.OracleClient"/>
		<add name="INV4.44" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.44)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=escmreader;Password=escmreader;" providerName="System.Data.OracleClient"/>
		<add name="INV20.11" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.20.11)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=escmreader;Password=reader;" providerName="System.Data.OracleClient"/>
		<!--Added By Zikuan MES-097-->
		<add name="INV152.8" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.152.8)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=SCM2)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<!--End Added By Zikuan MES-097-->
		<!--Added By Zikuan 2014-08-01-->
		<add name="INV155.18" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.155.18)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=SCM2)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<!--End Added By Zikuan MES-097-->
		<!--Added By MF 2015-03-07-->
		<add name="INV5.3" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.5.3)(PORT=1521)))(CONNECT_DATA=(SID=fpps)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<!--Added By LimML 2015-07-20-->
		<add name="INV99.222" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.99.222)(PORT=1521)))(CONNECT_DATA=(SID=epps)));User Id=escmreader;Password=reader;" providerName="System.Data.OracleClient"/>
		<!--End Added By MF, Oracle Connection for PTX-->
		<add name="WeeklyReport" connectionString="Data Source=192.168.7.66;Initial Catalog=WeeklyReport;Integrated Security=false; User ID=weeklyr;Password=week2006" providerName="System.Data.SqlClient"/>
		<add name="test" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.7.222)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=epps)));User Id=inv_support;Password=suppinv;" providerName="System.Data.OracleClient"/>
		<!--MES Test Server-->
		<!--<add name="MESYMGTEST" connectionString="Data Source=Gettestnt16\mesymg;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>-->
		<!--modified by LimML on 20150708 - change GETTESTNT16 to 192.168.7.142-->
		<add name="MESYMGTEST" connectionString="Data Source=192.168.27.65\mesymg;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESGEGTEST" connectionString="Data Source=192.168.27.65\mesgeg;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESCEGTEST" connectionString="Data Source=192.168.65.20;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=me$u$er20" providerName="System.Data.SqlClient"/>
		<add name="MESCEKTEST" connectionString="Data Source=192.168.65.20;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=me$u$er20" providerName="System.Data.SqlClient"/>
		<add name="MESNBOTEST" connectionString="Data Source=192.168.16.13;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=me$u$er13" providerName="System.Data.SqlClient"/>
		<add name="MESGLGTEST" connectionString="Data Source=192.168.99.22;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESPTXTEST" connectionString="Data Source=192.168.5.16;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=me$u$er16" providerName="System.Data.SqlClient"/>
		<add name="MESTILTEST" connectionString="Data Source=192.168.193.32;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=me$u$er32" providerName="System.Data.SqlClient"/>
		<add name="MESEGVTEST" connectionString="Data Source=192.168.152.26;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=me$u$er7" providerName="System.Data.SqlClient"/>
		<add name="MESEAVTEST" connectionString="Data Source=192.168.152.26;Initial Catalog=MESEAVDB;Persist Security Info=True;User ID=mesuser;Password=me$u$er7" providerName="System.Data.SqlClient"/>
		<add name="MESEHVTEST" connectionString="Data Source=192.168.152.26;Initial Catalog=MESEHVDB;Persist Security Info=True;User ID=mesuser;Password=me$u$er7" providerName="System.Data.SqlClient"/>
		<add name="MESEGMTEST" connectionString="Data Source=192.168.4.38;Initial Catalog=MESDB_QA;Persist Security Info=True;User ID=mesuser;Password=me$4S8" providerName="System.Data.SqlClient"/>
		<!--MES Staging Server-->
		<!--modified by LimML on 20150708 - change GETTESTNT16 to 192.168.7.142-->
		<add name="MESYMGSTG" connectionString="Data Source=192.168.27.65\mesymg;Initial Catalog=MESDB_S;Persist Security Info=True;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESGEGSTG" connectionString="Data Source=192.168.27.65\mesgeg;Initial Catalog=MESDB_S;Persist Security Info=True;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESCEGSTG" connectionString="Data Source=192.168.20.31;Initial Catalog=MESDB_S;Persist Security Info=True;User ID=mesuser;Password=me$2012" providerName="System.Data.SqlClient"/>
		<add name="MESCEKSTG" connectionString="Data Source=192.168.20.31;Initial Catalog=MESDB_S;Persist Security Info=True;User ID=mesuser;Password=me$2012" providerName="System.Data.SqlClient"/>
		<add name="MESNBOSTG" connectionString="Data Source=192.168.16.13;Initial Catalog=MESDB_S;Persist Security Info=True;User ID=mesuser;Password=me$u$er13" providerName="System.Data.SqlClient"/>
		<add name="MESGLGSTG" connectionString="Data Source=192.168.99.22;Initial Catalog=MESDB_S;Persist Security Info=True;User ID=mesuser;Password=e^G$mg" providerName="System.Data.SqlClient"/>
		<add name="MESPTXSTG" connectionString="Data Source=192.168.5.16;Initial Catalog=MESDB_S;Persist Security Info=True;User ID=mesuser;Password=me$u$er16" providerName="System.Data.SqlClient"/>
		<add name="MESTILSTG" connectionString="Data Source=192.168.193.32;Initial Catalog=MESDB_S;Persist Security Info=True;User ID=mesuser;Password=me$u$er32" providerName="System.Data.SqlClient"/>
		<add name="MESEGVSTG" connectionString="Data Source=192.168.152.17;Initial Catalog=MESDB_S;Persist Security Info=True;User ID=mesuser;Password=me$u$er7" providerName="System.Data.SqlClient"/>
		<add name="MESEAVSTG" connectionString="Data Source=192.168.152.17;Initial Catalog=MESEAVDB_S;Persist Security Info=True;User ID=mesuser;Password=me$u$er7" providerName="System.Data.SqlClient"/>
		<add name="MESEHVSTG" connectionString="Data Source=192.168.152.26;Initial Catalog=MESEHVDB_S;Persist Security Info=True;User ID=mesuser;Password=me$u$er7" providerName="System.Data.SqlClient"/>
		<add name="MESEGMSTG" connectionString="Data Source=192.168.4.38;Initial Catalog=MESDB_S;Persist Security Info=True;User ID=mesuser;Password=me$4S8" providerName="System.Data.SqlClient"/>
                <add name="OAS" connectionString="Server=192.168.7.112;Database=OAS;UID=oasuser;PWD=OaUsrP2#d;Integrated Security=False;Persist Security Info=False" providerName="System.Data.SqlClient"/>
</connectionStrings>
	<system.web>
		<sessionState timeout="7200"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="MySql.Data"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Build.Framework, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<customErrors mode="Off"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<add path="ajaxpro/*.ashx" verb="POST,GET" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<globalization fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" uiCulture="zh-CN"/>
		<httpRuntime maxRequestLength="10240"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/><add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules></system.webServer>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="WarnAsError" value="false"/></compiler>
				<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="OptionInfer" value="true"/>
					<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding></runtime></configuration>
